html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.invisible {
    display: none;
}

#header {
    padding: 10px 5px;
    border-bottom: solid 5px white;
    
}

#selectorMoneda {
    width: 60%;
    margin: auto;
}

#tablaCambios{
    background-color: rgb(233, 223, 223, 0.05);
    
}

#botonObtenerDatos {
    margin: auto;
    width: 40%;
}